$body: #1d1f21;
$main-white: white;
$box-hover: rgb(19, 230, 220);
$navBackground: #1e252990;
$navButBack: grey;
$button: #1E2529; 
$Paragraf: #fdfdfda0;
$main-background: #1E2529;
$playerBackground: rgb(63, 60, 60);
$error: red;