@import "../helper/colors";
@import "../helper/mixin";
@import "../helper/placeholder";

#secondPage {
    display:  none;
}
#MainSections {
@include display_row;
.firstColumn {
    width: 60%;
    margin: 0 10px 0 10px;
    .first-Div {
       @extend %mainBox;
        
        span{
            margin: 6px 12px 6px 12px;
            padding: 0;
        }
    }
    .second-Div {
        @extend %mainBox;
        margin-top: 30px;
        @include display_grid(1fr);
        cursor: pointer;
       
        .biblotec {
            @include display_row;
            @extend %nullMarPad;
            width: 100%;
           
        }
        .but{
            button{
                @include Button(0);
                max-width: 80px;
            }
        }
        .arrow{
            @include display_row;
            text-align: center;
        }
        #firstSupaData { 
            @include display_grid(1fr);
     
        .SingleMussic {
            @include display_grid(1fr);
            gap: 0;
            @media (max-width:600px) {
                @include display_grid(1fr 1fr);
                width: 100%;
            }
            img{
                width: 45px;
            }
            .listes {
                margin-left: -50px;

               h5{
                font-size: 15px;
                @extend %nullMarPad;
               }
               p{
                font-size: 12px;
               }
            }
        }
    }
    }
    
   
    }

    .secondColumn {
        margin: 0 10px 0 10px;
             width: 150%;
            @extend %mainBox;

        .topLine{
         @include display_row;
         margin: 0 10px 0 10px;
        }
        .rightTop {
            float: left;
            @include display_row;
            form {
                input{
                    width: 200px;
                    height: 30px;
                    border-radius: 30px;
                    border: 1px solid;
                }
            }
        }

        .middle-second{
            @include display_grid(1fr 1fr 1fr 1fr);
            figure{
                @extend %nullMarPad;
                background-color: $navBackground;
                text-align: center;
                img{
                    width: 100%;
                }
            }
        }
    }

    .thirdColumn{
        margin: 0 10px 0 10px;        
        @include display_grid(1fr);
        width: 50%;
       color: $Paragraf;
       .firstInThird{
        @include display_row; 
       }
        div{
            img{
                width: 100%;
            }
        }
    }
}



// player

#musicPlayer{
    display: none;
    position: absolute;
    top: 10%;
  width: 300px;
  background: #fff;
  padding: 20px 14px 8px 14px;
  border: none;
  border-radius: 10px;
  box-shadow: 10px 2px 90px -11px rgba(13,100,76,0.75);
    
}
.imgBx img
{
  width: 100%;
  height: auto;
  border: none;
  border-radius: 10px;
}

.player audio
{
  width: 100%;
  border-radius: 6px;
  margin: 0;
  padding: 0;
  border: none;
}

@media (max-width:600px){
    #MainSections {
        .firstColumn {
            display: none;
            width: 100%;
        }
        
        .thirdColumn {
            display: none;
        }
        .secondColumn{
            margin-top: 40px;
            .middle-second{
                @include display_grid(1fr 1fr);
            }
        }

    }
    // .SingleMussic {
    //     @include display_grid(1fr 1fr);
    //     gap: 0;
       
    //     img{
    //         width: 45px;
    //     }
    //     .listes {
    //         margin-left: -50px;

    //        h5{
    //         font-size: 15px;
    //         @extend %nullMarPad;
    //        }
    //        p{
    //         font-size: 12px;
    //        }
    //     }
    // }

   
    #firstSupaData {
        @include display_grid(1fr 1fr);

    .SingleMussic {
        @include display_grid(1fr 1fr);
        width: 100%;
        .everyRow {
            margin: 6px 0 6px 0;
            &:hover{
                box-shadow: -3px 3px 23px 0px rgba(83, 82, 82, 0.658);
            }
        img{
            min-width: 70px;
            margin: 6px 0 6px 0;
        }
        .listes {
            margin: 6px 0 0 0;

           h5{
            font-size: 15px;
           }
           p{
            font-size: 12px;
            &:hover{
                color: $error;
              }
           }
        }
    }
    }
   }

}

