@import "../helper/colors";
@import "../helper/mixin";

.music-player {
    position: fixed;
    width: 21%;
    margin: 0 auto;
    padding: 20px;
    background-color: $navBackground;
    border-radius: 5px;
    top: 90%;
    left: 75%;


.player-controls {
    @include display_row;
    align-items: center;
    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    .song-info {
        margin-left: 10px;
    }
    input[type="range"] {
        width: 100%;
    }

}

}
@media (max-width: 600px) {
    .music-player {
        position: fixed;
        width: 100%;
        margin: 0 auto;
        padding: 20px;
        background-color: $navBackground;
        border-radius: 5px;
        top: 90%;
        left: 0;
    }
}

